.contact-form71-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form71-max-width {
  align-items: flex-start;
}
.contact-form71-section-title {
  gap: var(--dl-space-space-unit);
  width: 40%;
  align-items: flex-start;
}
.contact-form71-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form71-form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 60%;
  display: flex;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.contact-form71-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form71-input {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form71-text-input {
  width: 500px;
}
.contact-form71-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form71-input1 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form71-text-input1 {
  width: 500px;
}
.contact-form71-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form71-navlink {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-decoration: none;
}
.contact-form71-checkbox {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.contact-form71-button {
  align-self: flex-start;
}
.contact-form71-action1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .contact-form71-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-form71-section-title {
    width: 100%;
  }
  .contact-form71-form {
    width: 100%;
  }
  .contact-form71-container {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form71-input {
    width: 50%;
  }
  .contact-form71-container1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form71-input1 {
    width: 50%;
  }
  .contact-form71-container2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form71-checkbox {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-form71-text1 {
    text-align: center;
  }
  .contact-form71-form {
    padding: var(--dl-space-space-unit);
  }
  .contact-form71-container {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form71-input {
    width: 100%;
  }
  .contact-form71-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form71-input1 {
    width: 100%;
  }
}
